<!DOCTYPE html>

<html>
    <head>
        <title>Youtube Comment Analyzer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
        <script src="{{ url_for('static', filename='js/d3.wordcloud.js') }}"></script>
        <link rel="stylesheet" href="/static/stylesheets/style.css">
    </head>

    <body>
    <div class="container">
        <div class="banner-container">
            <h1 class = "text-center">Welcome to the Youtube Comment Section Analyzer!</h1>
        </div>
  
          <div class="first-row">
            <div class="my-card">
              <form action="/" method="post">
                <div class="form-group">
                    Youtube URL: <input class="form-control" type="text" name="url">
                </div>
                <div class="form-group">
                    Number of Comments: <input class="form-control" type="text" name="max_number_comments" aria-describedby="commentHelp">
                    <small id="commentHelp" class="form-text text-muted">Must be between 20-500, default is 200.</small>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
              </form>
              {% if sentiment_data %}
              <iframe width="300" height="200" src="https://www.youtube.com/embed/{{ yt_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
              {% endif %}
            </div>
            {% if sentiment_data %}
            
            <div class="my-card cloud">
                <div id='wordcloud'></div>
                <script type="text/javascript">
                var words = {{ words|safe }}
                console.log(words);
                d3.wordcloud()
                    .size([800, 400])
                    .selector('#wordcloud')
                    .words(words)
                    .start();
                </script>
            </div>
            {% endif %}
          </div>
          
          {% if sentiment_data %}
          <div class="second-row">
            
              <div class="my-card">
                  <p class = "text-center">Toxicity of the comment section is: {{ toxicity }}%</p>
                  <br>
                  <p>For reference: Despacito has a toxicity of 4%, Aladdin has a toxicity of 15%, and Last Week Tonight's episode on Facebook has a toxicity of 32% </p>
                  <p class = "text-center">Average Sentiment is: {{ sentiment_data }}. This ranges from -1 to 1. Most videos are close to 0.</p>
              </div>


              <div class="my-card">
                  <p>
                      <b>Most positive comments:</b> 
                      {% for comment in most_positive %}
                        <li>{{ comment }}</li>
                      {% endfor %}
                    </p>
              </div>
  
              <div class="my-card">
                  <p>
                      <b>Most negative comments:</b> 
                      {% for comment in most_negative %}
                        <li>{{ comment }}</li>
                      {% endfor %}
                    </p>
              </div>
          </div>
          {% endif %}
      </div>
    </body>
</html>
